/* -------------------- GLOBAL VARS -------------------- */

/* -------------------- FONT SIZES --------------------- */
$normal-font-size: 1.375rem;
$h1-multiplier: 3.273;
$h2-multiplier: 1.455;
$h3-multiplier: 1.455;
$big-p-multiplier: 1.273;

/* ---------------------- COLORS ----------------------- */
/* -------------------- Main Colors -------------------- */
$DRFBlue: #0702D1;
$DRFRed: #DA1301;
$DRFYellow: #FEAB06;
$DRFGreen: #1DD79D;
/* ------------------- Neutral Tones ------------------- */
$N0: #FFFFFF;
$white: $N0;
$N3: #F7F7F8;
$fauxwhite: $N3; //used for white text on a black background or gray backgrounds
$N5: #F2F2F4;
$N10: #DADDE0;
$N30: #A5ACB1;
$gray: $N30; //used as gray text on a black background
$N40: #858E94;      //used when we need a gray background
$N50: #6D757E;
$darkgray: $N50; //used as gray text on a white background
$N80: #313543;
$N90: #1B202D;
$offblack: $N90; //used for black text on a white background
$N95: #050B1A;
$black: $N95;
$N100: #000000;
/* ------------------ Feedback Colors ------------------ */
// We use these 4 colors to give the user knowledge of the range of possible 
// actions and their results. They should be used only as this and nowhere else.
$informational: #3472FF; // shade of blue for hyperlinks + positive feedback 
$error: #EO3229; // shade of red for indicating failure
$warning: #FFD23D; // shade of yellow for feedback text 
$success: #12A577; // shade of green for indicating success

/* ----------------------- Blues ----------------------- */
$B90: #0503A6;
$B70: #0702D1; // same as $DRFBlue
$B50: #040BEC;
$B40: #2439F5;
$B5: #D8DDFD;

/* ------------------------ Reds ----------------------- */
$R90: #B80F00;
$R70: #DA1301; // same as $DRFRed
$R50: #F11809;
$R40: #F24E45;
$R5: #FBDDDA;

/* ---------------------- Yellows ---------------------- */
$Y90: #EB9C00;
$Y70: #FEAB06; // same as $DRFYellow
$Y50: #FEC025;
$Y40: #FAD552;
$Y5: #FEF8D8;

/* ----------------------- Greens ---------------------- */
$Y90: #15B784;
$Y70: #1DD79D; // same as $DRFGreen
$Y50: #35E3AC;
$Y40: #70E6C0;
$G5: #DAFBF1;

/* ----------------------- Links ----------------------- */
$L40: #B1BCFF; // used for links underscores on white backgrounds


/* ----------------------- RULES ----------------------- */

* {
  box-sizing: border-box;
}

/* ------------------- Text and Fonts ------------------ */
@mixin light {
  font-weight: 300;
}

@mixin book {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}

@mixin heavy-bold {
  font-weight: 900;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-Book.otf');
  @include book;
  font-style: normal;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-BookItalic.otf');
  @include book;
  font-style: italic;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-Medium.otf');
  @include medium;
  font-style: normal;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-MediumItalic.otf');
  @include medium;
  font-style: italic;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-Black.otf');
  @include bold;
  font-style: normal;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-BlackItalic.otf');
  @include bold;
  font-style: italic;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-Black.otf');
  @include heavy-bold;
  font-style: normal;
}

@font-face {
  font-family: CircularStd; 
  src: url('../Fonts/CircularStd-BoldItalic.otf');
  @include heavy-bold;
  font-style: italic;
}

@font-face {
  font-family: Lemonada; 
  src: url('../Fonts/Lemonada-Light.ttf');
  @include light;
}

@font-face {
  font-family: Lemonada; 
  src: url('../Fonts/Lemonada-Regular.ttf');
  @include book;
}

@font-face {
  font-family: Lemonada; 
  src: url('../Fonts/Lemonada-SemiBold.ttf');
  @include semi-bold;
}

@font-face {
  font-family: Lemonada; 
  src: url('../Fonts/Lemonada-Bold.ttf');
  @include bold;
}

h1 {
  font-size: $h1-multiplier * $normal-font-size;
  @include heavy-bold;
  margin: 0.5 * $h1-multiplier * $normal-font-size 0;
}

h2 {
  font-size: $h2-multiplier * $normal-font-size;
  @include heavy-bold;
  margin: 0.5 * $h2-multiplier * $normal-font-size 0;
}

h3 {
  font-size: $h3-multiplier * $normal-font-size;
  @include bold;
  margin: 0;
  margin: 0.5 * $h3-multiplier * $normal-font-size 0;
}

body {
  font-size: $normal-font-size;
  font-family: CircularStd, Helvetica, Arial, sans-serif;
}

p a {
  text-decoration: none;
  color: inherit;
  background-size: auto 1.1 * $normal-font-size;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba($informational, .7 )
 70%);
  background-repeat: repeat-x;
}

.quote, %quote {
  font-style: italic;
}

.blockquote {
  @extend %quote;
  padding: 4% 8%;
}

/* -------------- Header and Social Banners ------------ */
header {
  position: fixed;
  width: 15%;
  right: 0;
  float: right;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  top: 0;
  z-index: 2;
}

header a, header div {
  margin: 0% 3%;
  padding: 0%;
}

.Banners img {
  transform: translateY(-20px);
}

/* --------------------- Title Page -------------------- */
#title-page {
  background-color: $black;
  background-image: url('../Media/Graphics/RainbowCatcher.png'), url('../Media/Graphics/RainbowCatcher.png');
  background-repeat: no-repeat;
  background-size: 130vw, 100vw 100vh;
  background-position: -30vw 4vh, left -60vw bottom 4vh;
  color: $white;
  padding-bottom: 40vh;
}

#title-splash {
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10vh;
  padding-left: 5%;
  text-align: left;
  margin: 0%;
  overflow-x: hidden;
  
  h1  {
    font-size: 0.861 * $h1-multiplier * $normal-font-size;
    margin: 0;
  }

  h2  {
    font-size: $h2-multiplier * $normal-font-size;
    margin: 0;
  }

  .arrow {
    display: inline-block;
    background-image: url('../Media/Icons/DownArrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2vw;
    height: 2vw;
  }
}

#intro-1  {
  margin-left: 45vw;
  margin-top: 30vh;
  margin-right: 5%;
  padding: 2vh 2vw;
  width: 50vw;
  background-color: $black;
}

#intro-2  {
  margin-left: 10%;
  margin-top: 15vh;
  margin-right: 10%;
  padding: 2vh 2vw;
  background-color: $black;
}

/* -------------------- Content Pages ------------------ */
.content-page {
  width: 100%;
  margin: 50vh 0;
  padding: 0% 10%;
  position: relative;
  
  .header-number {
    font-size: 25rem;
    position: absolute;
    line-height: 0.8;
    top: -15%;
    left: 5%;
    opacity: 0.4;
  }
}

g.slice path:hover {
  filter: brightness(1.5);
}

g.slice text {
  fill: white;
}

g.slice tspan.pie-label {
  font-weight: 700;
}


/*---------------------------Footer---------------------------*/
footer {
  display: flex;
  padding: 5vh 5vw 10vh 5vw;
  flex-wrap: wrap;
  background-color: $black;
  position: relative; 
  color: $white;
  font-size: 0.9 * $normal-font-size;

  &:after {
    content: "";
    background-image: url('../Media/Icons/DRFLogoWhite.png');
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: left -5vw bottom -16vw;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  & > * {
    flex: 1 1 50%;
    margin-top: 10vh;
    z-index: 1;
  }

  #mailing-list {
    margin-top: calc(10vh + #{0.5 * $h3-multiplier * $normal-font-size});

    p {
      margin: 0;
    }

    form {
      color: $black;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}