@import 'base';

h1 {
  font-size: $h1-multiplier * $normal-font-size;
  @include bold;
  margin: 0.5 * $h1-multiplier * $normal-font-size 0;
}

h2 {
  font-size: $h2-multiplier * $normal-font-size;
  @include bold;
  margin: 0.5 * $h2-multiplier * $normal-font-size 0;
}

h3 {
  font-size: $h3-multiplier * $normal-font-size;
  @include bold;
  margin: 0.5 * $h3-multiplier * $normal-font-size 0;
}

body {
  font-size: $normal-font-size;
  font-family: CircularStd, Helvetica, Arial, sans-serif;
  background-color: $fauxwhite;
  color: $offblack;
}

p a {
  text-decoration: none;
  color: inherit;
  background-size: auto 1.1 * $normal-font-size;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba($L40, 0.9) 70%);
  background-repeat: repeat-x;
}

p a.dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba($informational, 0.9) 70%);
}

.quote, %quote {
  font-style: italic;
}

.blockquote {
  @extend %quote;
  padding: 4% 8%;
}

/* -------------- Header and Social Banners ------------ */
header {
  position: fixed;
  width: 15%;
  right: 0;
  float: right;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  top: 0;
  z-index: 2;
}

header a, header div {
  margin: 0% 3%;
  padding: 0%;
}

/* --------------------- Title Page -------------------- */
#title-page {
  background-color: $N100;
  color: $fauxwhite;
  padding-bottom: 30vh;
}

#title-splash {
  width: 100%;
  height: 100vh;
  background-image: url('../Media/Graphics/RainbowCatcher.png');
  background-repeat: no-repeat;
  background-size: 120vw;
  background-position: center bottom;
  padding: 0 7.5%;
  text-align: left;
  overflow-x: hidden;
  display: table;
  
  #title-splash-contents {
    display: table-cell; 
    vertical-align: middle;

    h1  {
      font-size: 0.861 * $h1-multiplier * $normal-font-size;
      margin: 0;
      line-height: 0.861 * $h1-multiplier * $normal-font-size;
    }

    h2  {
      font-size: $h2-multiplier * $normal-font-size;
      margin: ($h2-multiplier * $normal-font-size / 2) 0;
      font-weight: 500;
    }

    .arrow {
      display: inline-block;
      background-image: url('../Media/Icons/DownArrow.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 0.7778 * $h2-multiplier * $normal-font-size;
      height: $h2-multiplier * $normal-font-size;
    }
  }
}

#intro-1  {
  margin: -10vh 5vw 0 45vw;
  padding: 3vw 4vw;
  width: 50vw;
  background-color: $N100;

  p:first-of-type {
    margin-top: 0;
  }
}

#intro-2  {
  margin: 15vh 7.5vw 0 7.5vw;
  padding: 3vw 4vw;
  background-color: $N100;
}

/* -------------------- Content Pages ------------------ */
.content-page {
  width: 100vw;
  margin: 30vh auto;
  padding: 0 10vw;
  max-width: $lg-screen;
  position: relative;
  
  .header-number {
    font-size: 18.18 * $normal-font-size;
    font-family: Lemonada, CircularStd, Helvetica, Arial, sans-serif;
    position: absolute;
    line-height: 0.8;
    top: -0.15em;
    left: 8%;
    opacity: 0.4;
    z-index: -1;
  }

  &:nth-child(4n+1) .header-number {
    color: $DRFBlue;
  }

  &:nth-child(4n+2) .header-number {
    color: $DRFYellow;
  }

  &:nth-child(4n+3) .header-number {
    color: $DRFGreen;
  }

  &:nth-child(4n+0) .header-number {
    color: $DRFRed;
  }

  img {
    width: 80%;
    margin: 1em 10%;
  }
}

.pie {
  display: flex;
  margin: 2em;

  svg {
    display: block;
  }

  g.slice {
    text {
      fill: white;
    }
    
    tspan.pie-label {
      @include medium;
    }
  }

  .pie-diagram {
    flex: 1 1;
    svg {
      max-width: 250px;
    }
  }

  .pie-description {
    flex: 3 1;
    padding-left: 5%;
  }

  .pie-tagline {
    @include medium;
    font-size: $big-p-multiplier * $normal-font-size;
    margin: 0;
  }

  .pie-sub-tagline {
    margin-top: 0.4em;
    color: $gray;
    font-style: italic;
  }
}

.vert-bar {
  width: 75%;

  img {
    width: 100%;
  }

  p {
    @include medium;
    font-size: $big-p-multiplier * $normal-font-size;
  }
}

.horiz-bar {
  .bar-diagram {
    width: 75%;
  }

  p {
    @include medium;
    font-size: $big-p-multiplier * $normal-font-size;
  }
}

.big-number {
  width: 75%;
  
  .big-number-diagram {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .bigger, .smaller {
    @include bold;
    vertical-align: bottom;
    margin-right: 2%;
  }

  .bigger {
    color: $DRFBlue;

    .number {
      font-size: 3 * $normal-font-size;
      line-height: 2.5 * $normal-font-size;
    }
  }

  .smaller {
    color: $DRFGreen;

    .number {
      font-size: 2.25 * $normal-font-size;
      line-height: 1.75 * $normal-font-size;
    }
  }

  .label {
    font-size: $small-p-multiplier * $normal-font-size;
  }

  p {
    @include medium;
    font-size: $big-p-multiplier * $normal-font-size;
    margin-bottom: 0;
  }
}

#sexhar-soln-table {
  @include medium;
  width: 100%;
  // white-space: nowrap;

  tr {
    td {
      padding: 0.25em 0;
    }

    td:first-of-type {
      color: $DRFRed;
      padding-right: 0.5em;
    }

    td:last-of-type {
      padding-left: 0.5em;
      width: 100%;
    }
  }
}

/*---------------------------Footer---------------------------*/
footer {
  background-color: $N100;
  position: relative;

  &:after {
    content: "";
    background-image: url('../Media/Icons/DRFLogoWhite.png');
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: left -5vw bottom -16vw;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  #footer-contents {
    display: flex;
    padding: 5vh 5vw 10vh 5vw;
    flex-wrap: wrap;
    color: $white;
    font-size: 0.9 * $normal-font-size;

    & > * {
      flex: 1 1 50%;
      margin-top: 10vh;
      z-index: 1;
    }

    #mailing-list {
      margin-top: calc(10vh + #{0.5 * $h3-multiplier * $normal-font-size});

      p {
        margin: 0;
      }

      .arrow {
        display: inline-block;
        background-image: url('../Media/Icons/DownArrow.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 0.7778 * $normal-font-size;
        height: $normal-font-size;
        margin-top: $normal-font-size / 2;
        margin-bottom: $normal-font-size;
      }

      form {
        input {
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid $N30;
          color: $N30;
        }

        button {
          background-color: $informational;
          color: $fauxwhite;
          margin-top: $normal-font-size / 2;
          padding: 0 5%;
          border: 0;
          border-radius: 3px;
        }
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}